################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quick.Assistant.Excel.Test/obj/Debug
